* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    width: 100%;
    padding: 50px;
    
  
    display: flex;
    justify-content: space-between;

    position: fixed;
    background: #ffffff;

    font-size: 32px;
    color: rgb(209, 45, 72);
  }

.menu > li {
    margin-right: 50px;
    display: inline;
    }

a:link, a:visited, a:hover {
    color: rgb(209, 45, 72);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo a{
    text-decoration: none;
}

.hero-image {
    /* The image used */
    margin: 150px;
    background-image: url("images/evian_origins_logo.png");

    /* Set a specific height */
    height: 50%;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(209, 45, 72);
    font-size: xx-large;
}